{
  "*.{ts,js,json,yml,yaml}": ["prettier --write", "git add"],
  ".{pull_review.kushkirc,lintstagedrc,nycrc,prettierrc}": [
    "prettier --write",
    "git add"
  ],
  "*.ts": [
    "tslint -t stylish --fix --project tsconfig.json -c tslint.json",
    "git add"
  ]
}
