{
  "singleQuote": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": [
        "*.json",
        ".kushkirc",
        ".lintstagedrc",
        ".nycrc",
        ".prettierrc"
      ],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
